{% assign sub_bg = 'bg-gray-50' %}
{% assign k = 0 %}
{% for sf in sub_features %}
	{% assign sub_last = false %}
	{% if k == sub_feature_last_index %}
		{% assign sub_last = true %}
	{% endif %}
	<tr class="{{ tr_classes }}" x-cloak :class="open ? '' : 'hidden'">
		<td class="{{ base_classes }} {% if sub_last %}{{ td_before }}{% endif %} {{ sub_bg }} pr-3 transition">
			<div class="{{ td_classes }}" x-show="open" x-collapse>
				<div class="flex items-center">
					<span class="text-lg pl-3 grow-0">{{ sf.name }}</span>
					<span class="ml-2 w-[20px] h-[20px] relative shrink-0 grow-0 group flex flex-col items-center cursor-pointer">
						{{ '/src/images/icons/outline/information-circle.svg' | svgContents: 'stroke-gray-400 w-full block' }}
						<div class="grow absolute bottom-1 flex-col items-center hidden mb-6 group-hover:flex w-[200px]">
							<span class="relative z-10 p-2 text-xs rounded leading-none text-white whitespace-no-wrap bg-gray-800 shadow-lg">
								{{ sf.description }}
							</span>
							<div class="w-3 h-3 -mt-2 rotate-45 bg-gray-800"></div>
						</div>
					</span>
					<div class="flex justify-end grow text-right">
						{% if sf.plan_allocation[index] == 'yes' %}
							{{ '/src/images/icons/outline/check-circle.svg' | svgContents: 'stroke-green-600 w-8 h-8' }}
						{% elsif sf.plan_allocation[index] == 'no' %}
							{{ '/src/images/icons/outline/x-circle.svg' | svgContents: 'stroke-red-600 w-8 h-8' }}
						{% else %}
							{{ sf.plan_allocation[index] }}
						{% endif %}
					</div>
				</div>
			</div>
		</td>
	</tr>
	{% assign k = k | plus: 1 %}
{% endfor %}